<!DOCTYPE html>
<html>

<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>AudioScanner!</title>
    </head>
</head>

<body>
    <label for="channel">Channel ID (10-100):</label>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <div id="controller">
        <label for="id">Identifier:</label>
        <input type="number" id="channel" name="channel" min="0" max="25" value=<%= id %> />
        <div id="map" style="width:512px; height:512px; border: 3px dotted black;">
            <div class="map_points" style="position: relative;">
                
            </div>
            
           </div>
           <label for="Scale">Scale</label>
           <input type="number" id="scale" value="35">
                   
        <button onclick="setChannel()">Connect to Channel</button>
        <button onclick="setLock()">L</button>
        <div id="indicator" style="background-color: red; width: 10px; height: 10px"></div>
        <div id="controls" style="display: none;">
            <button onclick="startRecording()">Start Recording</button>
            <button onclick="stopRecording()">Stop Recording</button>
        </div>
        <div id="debug" style="display: none;">

            <label for="timing">Time (ms):</label>
            <input type="number" id="ms">
            <label for="coords">Coords:</label>
            <input type="number" id="ax">
            <input type="number" id="ay">
            <input type="number" id="az">
            <label for="normal">Normal:</label>
            <input type="number" id="normal">
            <label for="ranged">Ranged:</label>
            <input type="number" id="ranged">
            <label for="txt">Text:</label>
            <textarea id="txt"></textarea>
            <input type="number" id="px">
            <input type="number" id="pz">
        </div>

        <div id="conversations">
            <h2>Conversations</h2>
        
            <div class="convo_container">        
            </div>  
            
        </div>

    </div>

    <script src="/js/socket.io-stream.js"></script>
    <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/math.js"></script>
    <script src="/mapper.js"></script>
    <script src="/convolist.js"></script>
    <script src="/compass.js"></script>
    <script src="/recognizer.js"></script>
    <script src="/recorder_alt.js"></script>
</body>

</html>