doctype
html
    head
        title= "Stream to Wav"
        script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    body
        label(for="channel") Channel ID
        //form(id="channel", name="channel", action="https://conv-count-poc-997c48b4c4cc.herokuapp.com/channel", method="post", target="dummyframe")
        form(id="channel", name="channel", action="http://localhost:3000/channel", method="post", target="dummyframe")
            input(type="number", name="channel", id="channel", value="0")
            input(type="submit", value="Submit", onclick="setChannel()")
        button(onclick="startRecording()") Start Recording
        button(onclick="pauseRecording()") Pause Recording
        button(onclick="stopRecording()") Stop Recording
        script(src="recorder.js")
