doctype
html
    head
        title= "Stream to Wav"
        script(src="https://conv-count-poc-997c48b4c4cc.herokuapp.com/binary-min-mod.js")
    body
        button(onclick="startRecording()") Start Recording
        button(onclick="pauseRecording()") Pause Recording
        button(onclick="stopRecording()") Stop Recording
        script(src="recorder.js")
