<!DOCTYPE html>
<html>

<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>AudioScanner!</title>
    </head>
</head>

<body>
    <label for="channel">Channel ID (10-100):</label>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <form action="https://conv-count-poc-997c48b4c4cc.herokuapp.com/channel" method="post" target="dummyframe" onsubmit="loadChannel()">
        <input type="number" id="channel" name="channel" min="0" max="25" value=<%= id %> />
        <input type="submit" value="Connect to Channel">
      </form>

    <div id="debug">
        <label for="timing">Time (ms):</label>
        <input type="number" id="ms">
        <input type="number" id="ax">
        <input type="number" id="ay">
        <input type="number" id="az">
        <label for="coords"></label>
        <button onclick="exportJson()">Export</button>
    </div>

    <div id="controls" style="display:none;">
        <input type="number" id="px">
        <input type="number" id="pz">
        <button onclick="setChannel()">Connect to Channel</button>
        <button onclick="startRecording()">Start Recording</button>
        <button onclick="pauseRecording()">Pause Recording</button>
        <button onclick="stopRecording()">Stop Recording</button>
    </div>

    <script src="/js/socket.io-stream.js"></script>
    <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/math.js"></script>
    <script src="/compass.js"></script>
    <script src="/recognizer.js"></script>
    <script src="/recorder.js"></script>
</body>

</html>