<!DOCTYPE html>
<html>

<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>AudioScanner!</title>
    </head>
</head>

<body>
    <label for="channel">Channel ID (10-100):</label>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <div id="controller">
        <label for="id">Identifier:</label>
        <input type="number" id="channel" name="channel" min="0" max="25" value=<%= id %> />
        <div id="map" style="width:512px; height:512px; border: 3px dotted black;">
            <div class="map_points">
                <div id="point" style="position: fixed;border-radius: 100px; border: 3px black solid;width: 25px;height: 25px;left: 10px;top: 10px;text-align: center;transform: rotate(0deg);"><div id="arr" style="background-color: blue;width: 9px;height: 6px;left: 8px;position: relative;"></div>1</div>
                <div id="point" style="position: fixed;border-radius: 100px; border: 3px black solid;width: 25px;height: 25px;left: 10px;top: 10px;text-align: center;transform: rotate(0deg);"><div id="arr" style="background-color: blue;width: 9px;height: 6px;left: 8px;position: relative;"></div>1</div>
            </div>
            
           </div>
           <label for="Scale">Scale</label>
           <input type="number" id="scale" value="50">
        <div id="debug">

            <label for="timing">Time (ms):</label>
            <input type="number" id="ms">
            <label for="coords"></label>
            <input type="number" id="ax">
            <input type="number" id="ay">
            <input type="number" id="az">
            <textarea id="txt"></textarea>
        </div>
        <input type="number" id="px">
        <input type="number" id="pz">
        <button onclick="setChannel()">Connect to Channel</button>
        <div id="controls" style="display: none;">
            <button onclick="startRecording()">Start Recording</button>
            <button onclick="stopRecording()">Stop Recording</button>
        </div>
    </div>

    <script src="/js/socket.io-stream.js"></script>
    <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/math.js"></script>
    <script src="/mapper.js"></script>
    <script src="/compass.js"></script>
    <script src="/recognizer.js"></script>
    <script src="/recorder.js"></script>
</body>

</html>