<!DOCTYPE html>
<html>

<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>AudioScanner!</title>
    </head>
</head>

<body>
    <label for="channel">Channel ID (10-100):</label>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <form action="https://conv-count-poc-997c48b4c4cc.herokuapp.com/channel" method="post" target="dummyframe" onsubmit="loadChannel()">
        <input type="number" id="channel" name="channel" min="0" max="25" value=<%= id %> />
        <input type="submit" value="Load Panel">
      </form>

        <input type="number" name="id">
        <button>Up</button>
        <div id="a" style="display:inline-block;">
            <button>Left</button>
            <button>Right</button>
        </div>
        <button>Down</button>
        <input type="text" id="'text" name="transcript">

    <script>

    var testX = 0;
    var testY = 0;
    var testZ = 0;

    function move(x,y,z) {
        testX += x;
        testY += y;
        testZ += z;
    }

    const data = {"id": id.value, "px": CurrPX, "py": CurrPY, "theta": compass, "cxy": encodeXY(CurrPX, CurrPY), "timestamp": Date().toString(), "transcript": transcriptWords}

    document.getElementById('cdate').value = Date().toString();
    </script>
</body>

</html>